@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@theme {
  --color-primary: #260707; --color-secondary: #260707; --color-accent: #AD2831; --color-background: #FAF1EC;

  --font-serif: "Bodoni Moda", serif;
  --font-sans: "Courier Prime", monospace;
}

body {
  background-color: var(--color-background);
  color: var(--color-accent);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}